#tecladoS{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    
    padding: 20px;
    
    width: 210px;

}
ul#tecladoS {
    list-style-type: none; /* Remove os marcadores */
    padding: 0; /* Remove o preenchimento padrão */
}


#screen{
    height: 10%;
    background-color: var(--screen-color);
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;

}
h1#screen{
    text-align: right;
    padding: 0 1rem 0 0;
    font-size: 4rem;
    width: 100%;
    color: rgb(255, 255, 255);

}
#screen section {
    width: 8%;
    background: none;

}
#screen h4 {
    width: 100%;
    height: 50%;
    background: none;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;

}
#screen section h4:nth-child(2){
    font-size: 1.4rem;
    
}




/* teclado ⬇️ */

 /* numeros    */
.simple-buttons{
    
        font-family: 'SF PRO', 'Arial';
        font-weight: bold;
        font-size: 17px;
    
        padding: 20px;
        width: 60px;
        height: 60px;
    
        border: none;
        border-radius: 50%;
    
        background-color: #333;
    
        color: white;
    
        /* transição */
        transition: background-color 0.2s ease;
}
/* animação */
.simple-buttons:active{

    background-color: #737373;

}




/* cores especiais */

/* operadores superiores */
.simple-buttons2{
    
    font-family: 'SF PRO', 'Arial';
    font-weight: bold;
    font-size: 17px;

    padding: 20px;
    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    background-color: #A8A8A8;

    color: black;

    /* transição */
    transition: background-color 0.2s ease;
}
/* animação */
.simple-buttons2:active{

    background-color: #d6d6d6;

}



/* operadores laterais */
.simple-buttons3{
    
    font-family: 'SF PRO', 'Arial';
    font-weight: bold;
    font-size: 17px;

    padding: 20px;
    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    background-color: #FF9F0A;

    color: white;

    /* transição */
    transition: background-color 0.2s ease;
    transition: color 0.19s ease;
}
/* animação */
.simple-buttons3:active{

    background-color: #d6d6d6;
    color: #FF9F0A;

}